---
import { ProductList } from "@/components";
import Pagination from "@/components/shared/Pagination.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

const url = Astro.url;

const pageParam = Number(Astro.url.searchParams.get("page")) || 1;


const { data, error } = await Astro.callAction(actions.getProductsByPage, {
  page: pageParam,
});

if (error) {
  console.error(error);
  return Astro.redirect("/");
}

const { products, totalPages } = data;

---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>

  <ProductList products={products} client:visible server:defer />

  <Pagination totalPages={totalPages} />
</MainLayout>
